body {
  background-color: #269;
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

header {
  text-align: center;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}

header h1 {
  color: black;
  margin:0;
  padding:0;
}

header h6 {
  color: black;
  margin: 0;
  padding: 0;
}

.Greeting h3 {
  color: white;
  text-shadow:
  -1px -1px 0 #269,
   1px -1px 0 #269,
   -1px 1px 0 #269,
    1px 1px 0 #269;
  margin-top:30px;
  padding-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.Greeting p {
  color: white;
  text-shadow:
  -1px -1px 0 #269,
   1px -1px 0 #269,
   -1px 1px 0 #269,
    1px 1px 0 #269;
  margin-top: 0;
  padding-top: 0;
}

.About-Me h3 {
  color: white;
  text-shadow:
  -1px -1px 0 #269,
   1px -1px 0 #269,
   -1px 1px 0 #269,
    1px 1px 0 #269;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.About-Me p {
  color: white;
  text-shadow:
  -1px -1px 0 #269,
   1px -1px 0 #269,
   -1px 1px 0 #269,
    1px 1px 0 #269;
  margin-top: 0;
  padding-top: 0;
}

ul {
  color: white;
  text-shadow:
  -1px -1px 0 #269,
   1px -1px 0 #269,
   -1px 1px 0 #269,
    1px 1px 0 #269;
}



table {
  border-collapse: collapse;
  margin-right: 0;
  padding-right: 0;
}

caption {
  background-color: rgb(9, 9, 94);
  color: rgb(247, 247, 247);
}

td, th {
  background-color: white;
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

#one-by-one {
  border-left: none;
}

#two-by-one {
  border-left:none;
}

#three-by-one {
  border-left:none;
  border-bottom:none;
}

#three-by-two {
  border-bottom: none;
}

#three-by-three {
  border-bottom: none;
  border-right: none;
}

#two-by-three {
  border-right: none;
}

#one-by-three {
  border-right: none;
}
